In [1]:
import pandas as pd
import numpy as np

In [19]:
df = pd.DataFrame({
    'city': ['osaka', 'osaka', 'osaka', 'osaka', 'tokyo', 'tokyo', 'tokyo'],
    'food': ['apple', 'orange', 'banana', 'banana', 'apple', 'apple', 'banana'],
    'price': [100, 200, 250, 300, 150, 200, 400],
    'quantity': [1, 2, 3, 4, 5, 6, 7]
})
df
A = [1,2]
A[:]

[1, 2]

In [17]:
df.groupby(['city','food'])['city'].count()

city   food
osaka  apple     1
       banana    2
       orange    1
tokyo  apple     2
       banana    1
Name: city, dtype: int64

In [14]:
import openai
import os
import datetime
dt = str(datetime.datetime.now()).split()[0]
path =  "log/" + dt + ".log"
d_path = "data/amound_tokens.log"
dt = datetime.datetime.now()

In [19]:
d_path = "data/amount_tokens_{Ôºê}_{1}.txt".format(dt.year,dt.month)
print(d_path)

data/amount_tokens_2023_5.txt

In [4]:
A = 'student_placements'

In [6]:
from sdv.datasets.demo import download_demo

data, metadata = download_demo(
    modality='single_table',
    dataset_name=A
)
print(data)

     student_id gender  second_perc  high_perc high_spec  degree_perc  \
0         17264      M        67.00      91.00  Commerce        58.00
1         17265      M        79.33      78.33   Science        77.48
2         17266      M        65.00      68.00      Arts        64.00
3         17267      M        56.00      52.00   Science        52.00
4         17268      M        85.80      73.60  Commerce        73.30
..          ...    ...          ...        ...       ...          ...
210       17474      M        80.60      82.00  Commerce        77.60
211       17475      M        58.00      60.00   Science        72.00
212       17476      M        67.00      67.00  Commerce        73.00
213       17477      F        74.00      66.00  Commerce        58.00
214       17478      M        62.00      58.00   Science        53.00

    degree_type  work_experience  experience_years  employability_perc  \
0      Sci&Tech            False                 0                55.0
1      Sci&Tech             True                 1                86.5
2     Comm&Mgmt            False                 0                75.0
3      Sci&Tech            False                 0                66.0
4     Comm&Mgmt            False                 0                96.8
..          ...              ...               ...                 ...
210   Comm&Mgmt            False                 0                91.0
211    Sci&Tech            False                 0                74.0
212   Comm&Mgmt             True                 1                59.0
213   Comm&Mgmt            False                 0                70.0
214   Comm&Mgmt            False                 0                89.0

    mba_spec  mba_perc   salary  placed  start_date    end_date  duration
0     Mkt&HR     58.80  27000.0    True  2020-07-23  2020-10-12       3.0
1    Mkt&Fin     66.28  20000.0    True  2020-01-11  2020-04-09       3.0
2    Mkt&Fin     57.80  25000.0    True  2020-01-26  2020-07-13       6.0
3     Mkt&HR     59.43      NaN   False         NaN         NaN       NaN
4    Mkt&Fin     55.50  42500.0    True  2020-07-04  2020-09-27       3.0
..       ...       ...      ...     ...         ...         ...       ...
210  Mkt&Fin     74.49  40000.0    True  2020-07-27  2020-10-20       3.0
211  Mkt&Fin     53.62  27500.0    True  2020-01-23  2020-08-04       6.0
212  Mkt&Fin     69.72  29500.0    True  2020-01-25  2020-08-05       6.0
213   Mkt&HR     60.23  20400.0    True  2020-01-19  2020-04-20       3.0
214   Mkt&HR     60.22      NaN   False         NaN         NaN       NaN

[215 rows x 17 columns]